PANDASCORE_TOKEN=
BASE_URL=https://api.pandascore.co
SITE_NAME=Esports Matches
SITE_URL=http://127.0.0.1:5000
ORG_NAME=Esports Matches Portal
ORG_LOGO=https://dummyimage.com/200x60/111827/ffffff&text=Esports+Matches